In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_table(r"C:\Users\DELL\Desktop\All files\Analytics\Rinex\archive\fruit_data_with_colors.txt")
    
df.head()

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [3]:
#EDA
df.shape

(59, 7)

In [4]:
df.describe()

       fruit_label        mass      width     height  color_score
count    59.000000   59.000000  59.000000  59.000000    59.000000
mean      2.542373  163.118644   7.105085   7.693220     0.762881
std       1.208048   55.018832   0.816938   1.361017     0.076857
min       1.000000   76.000000   5.800000   4.000000     0.550000
25%       1.000000  140.000000   6.600000   7.200000     0.720000
50%       3.000000  158.000000   7.200000   7.600000     0.750000
75%       4.000000  177.000000   7.500000   8.200000     0.810000
max       4.000000  362.000000   9.600000  10.500000     0.930000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fruit_label    59 non-null     int64
 1   fruit_name     59 non-null     object
 2   fruit_subtype  59 non-null     object
 3   mass           59 non-null     int64
 4   width          59 non-null     float64
 5   height         59 non-null     float64
 6   color_score    59 non-null     float64
dtypes: float64(3), int64(2), object(2)
memory usage: 3.4+ KB

In [6]:
df.isna().sum()

fruit_label      0
fruit_name       0
fruit_subtype    0
mass             0
width            0
height           0
color_score      0
dtype: int64

In [7]:
df['fruit_name'].unique()

array(['apple', 'mandarin', 'orange', 'lemon'], dtype=object)

In [8]:
df['fruit_subtype'].unique()

array(['granny_smith', 'mandarin', 'braeburn', 'golden_delicious',
       'cripps_pink', 'spanish_jumbo', 'selected_seconds', 'turkey_navel',
       'spanish_belsan', 'unknown'], dtype=object)

In [9]:
newfn = pd.get_dummies(df['fruit_name'])
newfn.head()

   apple  lemon  mandarin  orange
0   True  False     False   False
1   True  False     False   False
2   True  False     False   False
3  False  False      True   False
4  False  False      True   False

In [10]:
newfs = pd.get_dummies(df['fruit_subtype'])
newfs.head()

,braeburn,cripps_pink,golden_delicious,granny_smith,mandarin,selected_seconds,spanish_belsan,spanish_jumbo,turkey_navel,unknown
0,False,False,False,True,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False

In [11]:
dff = pd.concat([df,newfn,newfs],axis =1)

In [12]:
dff.head()

,fruit_label,fruit_name,fruit_subtype,mass,width,height,color_score,apple,lemon,mandarin,...,braeburn,cripps_pink,golden_delicious,granny_smith,mandarin,selected_seconds,spanish_belsan,spanish_jumbo,turkey_navel,unknown
0,1,apple,granny_smith,192,8.4,7.3,0.55,True,False,False,...,False,False,False,True,False,False,False,False,False,False
1,1,apple,granny_smith,180,8.0,6.8,0.59,True,False,False,...,False,False,False,True,False,False,False,False,False,False
2,1,apple,granny_smith,176,7.4,7.2,0.60,True,False,False,...,False,False,False,True,False,False,False,False,False,False
3,2,mandarin,mandarin,86,6.2,4.7,0.80,False,False,True,...,False,False,False,False,True,False,False,False,False,False
4,2,mandarin,mandarin,84,6.0,4.6,0.79,False,False,True,...,False,False,False,False,True,False,False,False,False,False

In [36]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
scaler = MinMaxScaler()
X = dff[['mass','width','height','color_score']]
y = dff['fruit_label']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20, random_state = 42)
X_train_scaled = scaler.fit_transform(X_train)
svm_clf = SVC(kernel='linear',C=1.0)
svm_clf.fit(X_train_scaled,y_train)
X_test_scaled = scaler.transform(X_test)
y_pred = svm_clf.predict(X_test_scaled)

In [37]:
y_pred

array([3, 2, 3, 3, 3, 4, 4, 3, 3, 1, 4, 1], dtype=int64)

In [38]:
from sklearn.metrics import r2_score
acs = r2_score(y_test,y_pred)

print(acs)

0.3972602739726028

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import  GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [55]:
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(X_train,y_train)
yr_pred = rfc.predict(X_test)
print(accuracy_score(y_test,yr_pred))

1.0

In [51]:
acc = accuracy_score(y_test,y_pred)

1.0

In [63]:
gbc = GradientBoostingClassifier(n_estimators=200,learning_rate = 0.9)
gbc.fit(X_train,y_train)
yg_pred = gbc.predict(X_test)
print(accuracy_score(y_test,yg_pred))

0.9166666666666666

In [67]:
adb = AdaBoostClassifier(n_estimators=200,learning_rate = 0.9)
adb.fit(X_train,y_train)
ya_pred= adb.predict(X_test)
print(accuracy_score(y_test,ya_pred))

0.6666666666666666

In [82]:
knn = KNeighborsClassifier(n_neighbors=6)
knn.fit(X_train,y_train)
ykp = knn.predict(X_test)
print(accuracy_score(y_test,ykp))

0.6666666666666666

In [83]:
knn.score(X_test,y_test)

0.6666666666666666